// Reset default browser styles

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: $font-family-site  !important;
}



/* Remove default padding */
ul[class],
ol[class] {
    padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

/* Set core defaults */
body {
    line-height: normal;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
    list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

// Avoid zoom-in for mobile devices
input[type="text"],
input[type="number"],
input[type="email"],
input[type="tel"],
input[type="password"] {
    @include mobile {
        font-size: 16px;
    }
}